* {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
}
.listProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 2rem;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    }
.listProduct .item{
    padding: 0;
    border-radius: 5%;
    justify-items: center;
    text-align: center;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item .imagen{
    width: 45%;
}

.product-image{
    display: flex;
    width: 100%;
}
.cart-logo-nb {
    position: relative;
}
.cart-qty {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    top: 65%;
    left: 92%;
    padding: 10px;
    font-size: small;
}
.checkout {
    width: 100%;
    border-radius: 0;
}
.listCart .item{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.listCart .item img {
    width: 100%;
}
.quantity span{
    display: inline-block;
    cursor: pointer;
}
.listCart .item .quantity span:nth-child(2) {
    display: inline-block;
    background-color: transparent;
    color: black;
    cursor: default;
}
.listCart .item:nth-child(even) {
    background-color: #FDF8E1;
}
.listCart {
    overflow: auto;
}
.listCart .name {
    font-weight: 500;
}
.listCart::-webkit-scrollbar{
    width: 0;
}